@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #2c2c2c;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

li {
  list-style: none;
}

.product-detail__info--cta button, .product-detail__info--availability button {
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-listing__card--cta a button, .service__card--detail-btn, .banner__item .overlay-btn {
  padding: 10px 25px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-landing__cta button, .dropdown-btn button {
  padding: 5px 20px;
  border-radius: 25px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer {
  padding: 20px 40px;
  background-color: #000000;
}
.footer-disclaimer {
  margin-top: 20px;
}
.footer-disclaimer p {
  font-size: 14px;
  color: rgba(238, 213, 213, 0.6784313725);
  line-height: 25px;
}
.footer-disclaimer span {
  color: #fff;
}

.footer-accordion {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer-accordion {
    display: block;
  }
  .footer-accordion input[type=checkbox]:checked + label + .content {
    max-height: 400px;
  }
  .footer-accordion input[type=checkbox]:checked + label::after {
    content: "-";
  }
  .footer-accordion .footer-accordion li:last-child .content {
    display: flex;
    font-size: 18px;
  }
}
.footer-accordion li {
  flex: 1;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  list-style: none;
}
.footer-accordion li input[type=checkbox] {
  display: none;
}
.footer-accordion li label {
  font-size: 18px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .footer-accordion li label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
  }
}
.footer-accordion li label::after {
  display: none;
  content: "+";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .footer-accordion li label::after {
    display: block;
  }
}
@media (max-width: 768px) {
  .footer-accordion li .content {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s, padding 0.5s;
  }
}
.footer-accordion li .content p {
  color: rgba(255, 255, 255, 0.6235294118);
  transition: 0.1s;
  font-size: 14px;
}
.footer-accordion li .content p:hover {
  cursor: pointer;
  color: #fff;
}

.footer-accordion li:last-child .content {
  display: flex;
  font-size: 18px;
}

.footer-accordion li:last-child p {
  margin: 5px;
}

#click {
  display: none;
}

.menu-btn i {
  display: none;
}

.dashboard-menu-btn {
  display: none;
}

#dashboard-click {
  display: none;
}

.product-detail-footer {
  display: flex;
  flex-direction: row;
  padding: 5%;
  border-bottom: 1px solid rgba(116, 197, 234, 0.5490196078);
}
@media (max-width: 992px) {
  .product-detail-footer {
    flex-direction: column;
    gap: 10px;
  }
}
.product-detail-footer ul {
  flex: 1;
  margin-right: 20px;
  color: rgba(57, 53, 53, 0.6823529412);
}
.product-detail-footer ul h4 {
  font-weight: 600;
}
.product-detail-footer ul li {
  font-size: 14px;
}
.product-detail-footer div {
  display: flex;
}
.product-detail-footer div img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.shop-detail-heading {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5%;
}
.shop-detail-heading p {
  text-align: center;
  color: rgba(57, 53, 53, 0.6823529412);
  font-size: 14px;
  font-weight: 300;
}

.header-desktop {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9)), rgba(77, 77, 77, 0.239);
}
@media (max-width: 992px) {
  .header-desktop {
    z-index: 9;
    padding: 20px 2%;
    background-color: #fff;
  }
}
.header-desktop .logo {
  width: 80px;
  height: 100%;
}
.header-desktop .category {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-left: 2.5rem;
}
.header-desktop .category li {
  padding: 0px 15px;
}
.header-desktop .category li a {
  font-size: 16px;
  font-weight: 600;
}
.header-desktop .category li a:hover {
  color: #ed1556;
}
.header-desktop .category li a:hover ~ .dropdown-wrapper {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 992px) {
  .header-desktop .category {
    display: none;
  }
}
.header-desktop .help {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-desktop .help p {
  padding: 0px 10px;
}
@media (max-width: 992px) {
  .header-desktop .help p {
    display: none;
  }
}
.header-desktop .help i {
  cursor: pointer;
  padding: 0px 10px;
}

.dropdown-wrapper {
  opacity: 0;
  visibility: hidden;
  padding: 30px 0px 50px 0px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 64px;
  left: 0px;
  background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9)), rgba(77, 77, 77, 0.239);
  z-index: 1;
  transition: all 0.2s ease;
}

.dropdown-wrapper:hover {
  opacity: 1;
  visibility: visible;
}

.dropdown {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.dropdown-item {
  cursor: pointer;
  width: 150px;
}
.dropdown-item img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.dropdown-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}
.dropdown-btn button {
  font-size: 16px;
  background-color: #fff;
}
.dropdown-btn button:hover {
  color: #fff;
  background-color: #2c2c2c;
}

.header-mobile {
  display: none;
}
@media (max-width: 992px) {
  .header-mobile {
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    transition: top 0.5s ease;
    background-color: #fff;
    z-index: 5;
    overflow-y: scroll;
    padding-bottom: 100px;
  }
  .header-mobile__category {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px 2%;
  }
  .header-mobile__category li {
    border-top: 1px solid rgba(116, 197, 234, 0.5490196078);
    margin: 0px;
    padding: 20px;
  }
  .header-mobile__category li input {
    display: none;
  }
  .header-mobile__category li input:checked ~ div {
    max-height: 400px;
  }
  .header-mobile__category li input:checked + label::after {
    content: "-";
  }
  .header-mobile__category li label {
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: pointer;
  }
  .header-mobile__category li label::after {
    position: absolute;
    right: 0;
    content: "+";
  }
  .header-mobile__category li .content-accordian {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease;
  }
  .header-mobile__category li .content-accordian-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .header-mobile__category li .content-accordian-btn button {
    padding: 10px 25px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
    border: 1px solid rgba(57, 53, 53, 0.6823529412);
    color: rgba(57, 53, 53, 0.6823529412);
  }
  .header-mobile__category li .content-accordian-btn button:hover {
    background-color: #2c2c2c;
    color: #fff;
  }
  .header-mobile__category li .content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
    overflow: auto;
  }
  .header-mobile__category li .content::-webkit-scrollbar {
    display: none;
  }
  .header-mobile__category li .mobile-card {
    flex-shrink: 0;
    width: 120px;
    height: 100%;
    padding: 10px;
  }
  .header-mobile__category li .mobile-card img {
    padding: 5px;
    background-color: rgba(174, 125, 125, 0.137254902);
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }
}

.header-mobile::-webkit-scrollbar {
  display: none;
}

.header-landing {
  z-index: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 64px;
  left: 0;
  padding: 15px 40px;
  background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9)), rgba(44, 43, 43, 0.715);
}
@media (max-width: 768px) {
  .header-landing {
    padding: 15px;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.header-landing__logo p {
  font-size: 20px;
  color: #ed1556;
}
@media (max-width: 768px) {
  .header-landing__cta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.header-landing__cta-shop {
  background-color: #2c2c2c;
  color: #fff;
}
.header-landing__cta-buy {
  background-color: #2c2c2c;
  color: #fff;
}
.header-landing__cta-overview {
  border: 1px solid #2c2c2c !important;
  background-color: #fff;
}
@media (max-width: 992px) {
  .header-landing__cta-overview {
    display: none;
  }
}
.header-landing__cta-specs {
  border: 1px solid rgba(57, 53, 53, 0.6823529412) !important;
  background-color: transparent;
}
.header-landing #landing-banner-mobile-btn {
  display: none;
}
@media (max-width: 992px) {
  .header-landing #landing-banner-mobile-btn {
    display: inline-block;
  }
}

.header-product-detail {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0% 3%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 992px) {
  .header-product-detail {
    display: none;
  }
}
.header-product-detail__logo {
  width: 10%;
}
.header-product-detail__logo img {
  width: 80px;
  height: auto;
}
.header-product-detail__links {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-product-detail__links ul {
  display: flex;
  flex-direction: row;
}
.header-product-detail__links ul li {
  padding: 20px 10px;
  font-weight: 300;
}
.header-product-detail__links p {
  padding: 20px 10px;
  font-weight: 300;
}
.header-product-detail__icons {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.header-product-detail__icons i {
  padding: 20px 10px;
}

.header-product-detail-mobile {
  display: none;
  align-items: center;
  padding: 0% 10%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: fixed;
  z-index: 1;
}
@media (max-width: 992px) {
  .header-product-detail-mobile {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .header-product-detail-mobile {
    padding: 0% 2%;
  }
}
.header-product-detail-mobile__icons {
  display: flex;
  flex-direction: row;
  width: 20%;
}
.header-product-detail-mobile__icons i {
  padding: 20px 10px;
}
.header-product-detail-mobile__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
}
.header-product-detail-mobile__logo img {
  width: 80px;
  height: auto;
}
.header-product-detail-mobile__hamburger {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 20%;
}
.header-product-detail-mobile__hamburger i {
  color: #ed1556;
  cursor: pointer;
  padding: 20px;
}
.header-product-detail-mobile input {
  display: none;
}
.header-product-detail-mobile input:checked ~ .hamburger-content {
  left: 0;
}

.hamburger-content {
  display: flex;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 100vh;
  transition: left 0.3s ease;
}
.hamburger-content img {
  margin-top: 15px;
  padding: 5px;
  width: 80px;
  height: 30px;
}
.hamburger-content ul {
  padding: 0px 20px;
}
.hamburger-content ul li {
  font-weight: 300;
  padding: 20px;
  border-bottom: 1px solid rgba(116, 197, 234, 0.5490196078);
}

.cart-page {
  position: absolute;
  top: 64px;
}
@media (max-width: 992px) {
  .cart-page {
    top: 56px;
  }
}

.cart {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  gap: 30px;
  padding: 2% 4%;
}
.cart__products {
  width: 70%;
}
.cart__products--heading {
  font-weight: 300;
  padding: 10px;
  background-color: #faf9f9;
  border-bottom: 1px solid rgba(116, 197, 234, 0.5490196078);
}
.cart__order-summary {
  width: 30%;
}
.cart__order-summary--heading {
  font-weight: 300;
  padding: 10px;
  background-color: #faf9f9;
  border-bottom: 1px solid rgba(116, 197, 234, 0.5490196078);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #2c2c2c;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

li {
  list-style: none;
}

.hero {
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .hero {
    padding-bottom: 0px;
  }
}
.hero__video-container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 21/9;
}
@media (max-width: 768px) {
  .hero__video-container {
    aspect-ratio: 4/5;
  }
}
.hero__video-container video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hero__video-container .vid-mobile {
  display: none;
}
@media (max-width: 768px) {
  .hero__video-container .vid-mobile {
    display: block;
  }
}
@media (max-width: 768px) {
  .hero__video-container .vid-desktop {
    display: none;
  }
}

.new-launch {
  background-color: rgba(128, 128, 128, 0.0941176471);
  padding: 10% 3%;
}
.new-launch__title {
  font-size: 25px;
  font-weight: 600;
  padding: 30px 0px;
}
.new-launch__cards {
  display: flex;
  flex-direction: row;
  gap: 3%;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.new-launch__cards::-webkit-scrollbar {
  display: none;
}
.new-launch__card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  flex-shrink: 0;
  gap: 10px;
}
.new-launch__card--img {
  width: 100%;
  height: 100%;
  padding: 20px 30px 0px 30px;
  background-color: #fff;
}
.new-launch__card--img img {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}
.new-launch__card--description {
  padding: 20px;
  background-color: #fff;
}
.new-launch__card .description-title {
  color: rgba(57, 53, 53, 0.6823529412);
  font-size: 20px;
}
.new-launch__card .description-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(57, 53, 53, 0.6823529412);
  font-size: 14px;
}
.new-launch__card:hover img {
  transform: scale(1.1);
}
.new-launch__card:hover a {
  color: #2c2c2c;
}

.banner {
  width: 100%;
  height: 100%;
}
.banner__item {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.banner__item--img {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 21/9;
}
@media (max-width: 768px) {
  .banner__item--img {
    aspect-ratio: 4/5;
  }
}
.banner__item--img .desktop-banner--img {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .banner__item--img .desktop-banner--img {
    display: none;
  }
}
.banner__item--img .mobile-banner--img {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .banner__item--img .mobile-banner--img {
    display: block;
  }
}
.banner__item--overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 2%;
}
@media (max-width: 768px) {
  .banner__item--overlay {
    padding-top: 40px;
    align-items: start;
  }
}
.banner__item .overlay-title {
  font-size: 25px;
}
.banner__item .overlay-detail {
  font-weight: 300;
  color: rgba(57, 53, 53, 0.6823529412);
}
.banner__item .overlay-btn {
  background-color: transparent;
  border: 1px solid rgba(57, 53, 53, 0.6823529412);
  margin-top: 20px;
}
@media (max-width: 768px) {
  .banner__item .overlay-btn {
    background-color: #2c2c2c;
    color: #fff;
  }
}
.banner__item .overlay-btn:hover {
  background-color: #2c2c2c;
  color: #fff;
}

.service {
  padding: 8% 3%;
}
.service__card {
  display: flex;
  flex-direction: row;
  background-color: rgba(128, 128, 128, 0.0941176471);
  border-radius: 8px;
}
@media (max-width: 768px) {
  .service__card {
    display: flex;
    flex-direction: column;
  }
}
.service__card--img {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 4/3;
}
@media (max-width: 768px) {
  .service__card--img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
  }
}
.service__card--img img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px 0px 0px 8px;
}
@media (max-width: 768px) {
  .service__card--img img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
  }
}
.service__card--details {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 768px) {
  .service__card--details {
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 20px;
  }
}
.service__card--detail {
  padding-left: 5%;
}
.service__card--detail-title {
  font-size: 25px;
}
.service__card--detail-tag-line {
  font-size: 16px;
}
.service__card--detail-btn {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid rgba(57, 53, 53, 0.6823529412);
}
.service__card--detail-btn:hover {
  background-color: #2c2c2c;
  color: #fff;
}

.product-detail-page {
  position: absolute;
  top: 64px;
}
@media (max-width: 992px) {
  .product-detail-page {
    top: 56px;
  }
}

.product-detail {
  width: 100%;
  padding: 10% 5%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 992px) {
  .product-detail {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .product-detail {
    padding: 5% 0%;
  }
}
.product-detail__gallery {
  width: 50%;
}
@media (max-width: 992px) {
  .product-detail__gallery {
    width: 100%;
  }
}
.product-detail__gallery img {
  width: 100%;
}
.product-detail__info {
  background-color: #f5f5f5;
  width: 50%;
  padding: 2%;
}
@media (max-width: 992px) {
  .product-detail__info {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .product-detail__info {
    padding: 8%;
  }
}
.product-detail__info--title {
  font-size: 25px;
}
.product-detail__info--selling {
  padding-top: 10px;
  font-size: 25px;
  color: #ed1556;
}
.product-detail__info--prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
  color: #969696;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 1px solid rgba(116, 197, 234, 0.5490196078);
}
.product-detail__info--prices-original span {
  text-decoration: line-through;
  margin-left: 15px;
}
.product-detail__info--prices-discount {
  font-weight: 400;
  padding: 2px 10px;
  background-color: #969696;
  color: #fff;
  border-radius: 8px;
  margin-left: 15px;
}
.product-detail__info--specs {
  padding: 10% 5%;
  border-bottom: 1px solid rgba(116, 197, 234, 0.5490196078);
}
.product-detail__info--specs li {
  list-style: disc;
  line-height: 30px;
  color: #969696;
  font-weight: 300;
}
.product-detail__info--availability p {
  padding: 10px 0px;
}
.product-detail__info--availability input {
  width: 70%;
  padding: 10px;
}
.product-detail__info--availability button {
  padding: 10px 20px;
  font-weight: 600;
}
.product-detail__info--quantity {
  padding-top: 20px;
  color: #ed1556;
}
.product-detail__info--terms {
  display: flex;
  flex-direction: row;
}
.product-detail__info--terms p {
  margin-left: 10px;
}
.product-detail__info--terms p span {
  text-decoration: underline;
  color: #ed1556;
}
.product-detail__info--cta {
  padding: 20px 0px;
}
.product-detail__info--cta button {
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #000;
  font-weight: 600;
  font-size: 16px;
}
.product-detail__info--cta button:hover {
  background-color: #000;
  color: #fff;
}

.product-listing-page {
  position: absolute;
  top: 64px;
  width: 100%;
}

.product-listing {
  width: 100%;
  padding-bottom: 100px;
}
.product-listing__banner {
  position: relative;
  aspect-ratio: 40/9;
  margin: 5% 3%;
  overflow: hidden;
}
.product-listing__banner img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-position: center;
  object-fit: fill;
  top: 0;
  border-radius: 8px;
}
.product-listing__banner p {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3176470588);
  font-size: 40px;
  font-weight: 300;
}
.product-listing__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 0% 3%;
  width: 100%;
}
@media (max-width: 1200px) {
  .product-listing__products {
    gap: 20px;
  }
}
@media (max-width: 992px) {
  .product-listing__products {
    grid-template-columns: 1fr 1fr;
  }
}
.product-listing__card {
  border-radius: 8px;
  padding: 0px 20px;
  background-color: rgba(239, 235, 235, 0.7137254902);
}
.product-listing__card--img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0px;
}
.product-listing__card--img img {
  width: 70%;
  transition: all 1s ease;
  cursor: pointer;
}
.product-listing__card--img img:hover {
  transform: scale(0.9);
}
.product-listing__card--title {
  font-size: 20px;
  font-weight: 600;
}
.product-listing__card--detail {
  font-size: 14px;
  color: rgba(57, 53, 53, 0.6823529412);
}
.product-listing__card--selling {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}
.product-listing__card--original {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product-listing__card--original-mrp {
  font-size: 14px;
  color: rgba(57, 53, 53, 0.6823529412);
}
.product-listing__card--original-mrp span {
  text-decoration: line-through;
  font-weight: 600;
}
.product-listing__card--original-discount {
  margin-left: 10px;
  padding: 2px 5px;
  background-color: #969696;
  color: #fff;
  border-radius: 8px;
}
.product-listing__card--cta {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  gap: 10px;
}
@media (max-width: 768px) {
  .product-listing__card--cta {
    flex-direction: column;
  }
}
.product-listing__card--cta a {
  width: 50%;
}
@media (max-width: 768px) {
  .product-listing__card--cta a {
    width: 100%;
  }
}
.product-listing__card--cta a button {
  width: 100%;
  border: 1px solid #2c2c2c;
}
.product-listing__card--cta a .learn {
  background-color: transparent;
}
.product-listing__card--cta a .learn:hover {
  background-color: #2c2c2c;
  color: #fff;
}
.product-listing__card--cta a .buy {
  background-color: #2c2c2c;
  color: #fff;
}
.product-listing__card--cta a .buy:hover {
  background-color: transparent;
  color: #2c2c2c;
}

.landing-page {
  position: absolute;
  top: 126px;
}
@media (max-width: 576px) {
  .landing-page {
    top: 206px;
  }
}

.landing-banner {
  background: #000;
}
@media (max-width: 992px) {
  .landing-banner {
    display: none;
  }
}
.landing-banner__item1 {
  position: relative;
  aspect-ratio: 16/9;
}
.landing-banner__item1 img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.landing-banner__item2 {
  padding: 0% 5%;
  width: 100%;
  height: 100%;
}
.landing-banner__item2-row1 {
  display: flex;
  flex-direction: row;
}
.landing-banner__item2-row1-img {
  width: 33.33%;
  height: 100%;
}
.landing-banner__item2-row1-img img {
  width: 100%;
  height: auto;
}
.landing-banner__item2-row2 {
  display: flex;
  flex-direction: row;
}
.landing-banner__item2-row2-img {
  width: auto;
  height: 100%;
}
.landing-banner__item2-row2-img img {
  width: 100%;
  height: auto;
}
.landing-banner__item3 {
  position: relative;
}
.landing-banner__item3 img {
  display: block;
  width: 100%;
}
.landing-banner__item3 p {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 15%;
  font-size: 50px;
  color: #fff;
  font-weight: 300;
}
.landing-banner__item3 p span {
  font-weight: 600;
}
.landing-banner__item3-overlay img {
  position: absolute;
  top: 28%;
  left: 21%;
  width: 55%;
}
.landing-banner__item4 {
  position: relative;
}
.landing-banner__item4 img {
  width: 100%;
  display: block;
}
.landing-banner__item4-overlay img {
  position: absolute;
  top: 22%;
  left: 21%;
  width: 55%;
}
.landing-banner__item5 {
  position: relative;
}
.landing-banner__item5 img {
  width: 100%;
  display: block;
}
.landing-banner__item5-overlay img {
  position: absolute;
  top: 22%;
  left: 10%;
  width: 30%;
}
.landing-banner__item5-overlay p {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 30%;
  font-size: 25px;
  color: #fff;
  font-weight: 300;
}
.landing-banner__item5-overlay p span {
  font-weight: 600;
}
.landing-banner__item6 img {
  width: 100%;
}
.landing-banner__item7 img {
  width: 100%;
}
.landing-banner__item8 {
  position: relative;
}
.landing-banner__item8 img {
  width: 100%;
}
.landing-banner__item8-overlay p {
  position: absolute;
  top: 22%;
  left: 50%;
  width: 35%;
  font-size: 50px;
  color: #fff;
  font-weight: 300;
}
.landing-banner__item8-overlay p span {
  font-weight: 600;
}
.landing-banner__item9 {
  position: relative;
}
.landing-banner__item9 img {
  width: 100%;
}
.landing-banner__item9-overlay p {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 35%;
  font-size: 50px;
  color: #fff;
  font-weight: 300;
}
.landing-banner__item9-overlay p span {
  font-weight: 600;
}
.landing-banner__item10 {
  position: relative;
}
.landing-banner__item10 img {
  width: 100%;
}
.landing-banner__item10-overlay p {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 35%;
  font-size: 50px;
  color: #fff;
  font-weight: 300;
}
.landing-banner__item10-overlay p span {
  font-weight: 600;
}
.landing-banner__item11 {
  position: relative;
}
.landing-banner__item11 img {
  display: block;
  width: 100%;
}
.landing-banner__item11 p {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: #fff;
  font-weight: 300;
}
.landing-banner__item11 p span {
  font-weight: 600;
}
.landing-banner__item12 img {
  width: 100%;
}
.landing-banner__item13 {
  position: relative;
}
.landing-banner__item13 img {
  width: 100%;
}
.landing-banner__item13-overlay p {
  position: absolute;
  top: 20%;
  left: 60%;
  width: 35%;
  font-size: 50px;
  color: #fff;
  font-weight: 300;
}
.landing-banner__item13-overlay p span {
  font-weight: 600;
}
.landing-banner__item14 {
  position: relative;
}
.landing-banner__item14 img {
  display: block;
  width: 100%;
}
.landing-banner__item14 p {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: #fff;
  font-weight: 300;
}
.landing-banner__item14 p span {
  font-weight: 600;
}
.landing-banner__item15 {
  position: relative;
}
.landing-banner__item15 img {
  width: 100%;
}
.landing-banner__item15-overlay p {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 35%;
  font-size: 50px;
  color: #fff;
  font-weight: 300;
}
.landing-banner__item15-overlay p span {
  font-weight: 600;
}
.landing-banner__item16 img {
  width: 100%;
}

.landing-banner-mobile {
  display: none;
}
.landing-banner-mobile img {
  width: 100%;
  display: block;
}
@media (max-width: 992px) {
  .landing-banner-mobile {
    display: block;
  }
}

.detailed-specs {
  padding: 8% 0%;
}
@media (max-width: 576px) {
  .detailed-specs {
    padding: 45% 0%;
  }
}
.detailed-specs__title {
  font-size: 25px;
  font-weight: 600;
  padding: 30px 0px;
  text-align: center;
  color: #ed1556;
}
.detailed-specs__accordian {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0% 10%;
}
.detailed-specs__accordian li input {
  display: none;
}
.detailed-specs__accordian li input:checked ~ .accordian-content {
  max-height: 800px;
  border-bottom: 1px solid rgba(116, 197, 234, 0.5490196078);
}
.detailed-specs__accordian li input:checked + label::after {
  content: "-";
}
.detailed-specs__accordian li input:checked + label {
  border: none;
}
.detailed-specs__accordian li label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px;
  cursor: pointer;
  border-bottom: 1px solid rgba(116, 197, 234, 0.5490196078);
}
.detailed-specs__accordian li label::after {
  content: "+";
}
.detailed-specs__accordian li .accordian-content {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.detailed-specs__accordian li .accordian-content-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 40px;
}
.detailed-specs__accordian li .accordian-content-item h4 {
  padding: 10px;
  font-weight: 600;
  flex: 1;
}
.detailed-specs__accordian li .accordian-content-item p {
  padding: 10px;
  flex: 2;
}

.gallery {
  padding-bottom: 5%;
}
.gallery__title {
  font-size: 25px;
  font-weight: 600;
  padding: 30px 0px;
  color: #ed1556;
  text-align: center;
}
.gallery__main {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .gallery__main img {
    width: 100%;
  }
}
.gallery__sub {
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex-wrap: wrap;
}

/*# sourceMappingURL=main.css.map */
