$primary-text-color: #2c2c2c;
$secondary-text-color: #393535ae;
$light-text-color: #969696;
$lava-red-text-color: #ed1556;
$col-white: #fff;
$col-black: #000;

$col-transparent-gray: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0.9),
    hsla(0, 0%, 100%, 0.9)
  ),
  rgba(77, 77, 77, 0.239);
$col-card-bg: #ae7d7d23;
$col-border: #74c5ea8c;
$col-section-bg: #80808018;
$col-btn-dark-bg: #2c2c2c;
$bg-product-detail: #f5f5f5;
