//DESKTOP NAVBAR start
.header-desktop {
  position: fixed;
  z-index: 9;
  @include widthHeight(100%, 64px);
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: $col-transparent-gray;
  @include respond-to(lg) {
    z-index: 9;
    padding: 20px 2%;
    background-color: $col-white;
  }
  .logo {
    @include widthHeight(80px, 100%);
  }
  .category {
    @include flex(row);
    flex-grow: 1;
    margin-left: 2.5rem;
    li {
      padding: 0px 15px;
      a {
        font-size: $font-md;
        font-weight: $font-semi-bold;
      }
      a:hover {
        color: $lava-red-text-color;
      }
      a:hover ~ .dropdown-wrapper {
        opacity: 1;
        visibility: visible;
      }
    }
    @include respond-to(lg) {
      display: none;
    }
  }

  .help {
    @include flex(row);
    align-items: center;
    p {
      padding: 0px 10px;
      @include respond-to(lg) {
        display: none;
      }
    }
    i {
      cursor: pointer;
      padding: 0px 10px;
    }
  }
}

//DROPDOWN start

.dropdown-wrapper {
  opacity: 0;
  visibility: hidden;
  padding: 30px 0px 50px 0px;
  @include widthHeight(100%, auto);
  position: fixed;
  top: 64px;
  left: 0px;
  background: $col-transparent-gray;
  z-index: 1;
  transition: all 0.2s ease;
}
.dropdown-wrapper:hover {
  opacity: 1;
  visibility: visible;
}
.dropdown {
  @include widthHeight(100%, 100%);
  @include flex(row);
  justify-content: center;
  align-items: center;
  gap: 20px;
  &-item {
    cursor: pointer;
    width: 150px;
    img {
      border-radius: $border-radius;
      width: 100%;
      height: 100%;
    }
  }
  &-btn {
    @include flex(row);
    justify-content: center;
    margin-top: 2%;
    button {
      font-size: $font-md;
      background-color: $col-white;
      @extend %button-elipse;
    }
    button:hover {
      color: $col-white;
      background-color: $col-btn-dark-bg;
    }
  }
}

//DROPDOWN end

//DESKTOP NAVBAR end

// MOBILE NAVBAR start

.header-mobile {
  display: none;
  @include respond-to(lg) {
    @include widthHeight(100%, 100vh);
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    transition: top 0.5s ease;
    background-color: $col-white;
    z-index: 5;
    overflow-y: scroll;
    padding-bottom: 100px;
    &__category {
      @include flex(column);
      gap: 5px;
      padding: 0px 2%;
      li {
        border-top: 1px solid $col-border;
        @include marginPadding(0px, 20px);
        input {
          display: none;
        }
        input:checked ~ div {
          max-height: 400px;
        }
        input:checked + label::after {
          content: "-";
        }

        label {
          @include flex(row);
          position: relative;
          cursor: pointer;
        }
        label::after {
          position: absolute;
          right: 0;
          content: "+";
        }
        .content-accordian {
          overflow: hidden;
          max-height: 0px;
          transition: max-height 0.5s ease;
          &-btn {
            @include flex(row);
            justify-content: center;
            button {
              padding: 10px 25px;
              border-radius: 8px;
              outline: none;
              border: none;
              cursor: pointer;
              transition: all 0.3s ease;
              background-color: transparent;
              border: 1px solid $secondary-text-color;
              color: $secondary-text-color;
            }
            button:hover {
              background-color: $primary-text-color;
              color: $col-white;
            }
          }
        }
        .content {
          @include widthHeight(90%, 100%);
          @include flex(row);
          gap: 20px;
          margin: auto;
          overflow: auto;
        }
        .content::-webkit-scrollbar {
          display: none;
        }
        .mobile-card {
          flex-shrink: 0;
          @include widthHeight(120px, 100%);
          padding: 10px;
          img {
            padding: 5px;
            background-color: $col-card-bg;
            border-radius: $border-radius;
            @include maxWidthHeight;
          }
        }
      }
    }
  }
}
.header-mobile::-webkit-scrollbar {
  display: none;
}

//MOBILE NAVBAR end

//LANDING PAGE HEADER start

.header-landing {
  z-index: 1;
  @include widthHeight(100%, auto);
  @include flex(row);
  justify-content: space-between;
  @include respond-to(md) {
    padding: 15px;
    flex-wrap: wrap;
    gap: 10px;
  }
  position: fixed;
  top: 64px;
  left: 0;
  padding: 15px 40px;
  background: linear-gradient(
      0deg,
      hsla(0, 0%, 100%, 0.9),
      hsla(0, 0%, 100%, 0.9)
    ),
    rgba(44, 43, 43, 0.715);
  &__logo {
    p {
      font-size: $font-lg;
      color: $lava-red-text-color;
    }
  }
  &__cta {
    @include respond-to(md) {
      @include flex(row);
      flex-wrap: wrap;
      gap: 10px;
    }
    button {
      @extend %button-elipse;
    }
    &-shop {
      background-color: $primary-text-color;
      color: $col-white;
    }
    &-buy {
      background-color: $primary-text-color;
      color: $col-white;
    }
    &-overview {
      border: 1px solid $primary-text-color !important;
      background-color: $col-white;
      @include respond-to(lg) {
        display: none;
      }
    }
    &-specs {
      border: 1px solid $secondary-text-color !important;
      background-color: transparent;
    }
  }
  #landing-banner-mobile-btn {
    display: none;
    @include respond-to(lg) {
      display: inline-block;
    }
  }
}

//LANDING PAGE HEADER end

// DETAIL PAGE HEADER start

// DESKTOP start
.header-product-detail {
  @include respond-to(lg) {
    display: none;
  }
  @include widthHeight(100%, auto);
  @include flex(row);
  align-items: center;
  background-color: $bg-product-detail;
  padding: 0% 3%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  &__logo {
    width: 10%;
    img {
      @include widthHeight(80px, auto);
    }
  }
  &__links {
    width: 80%;
    @include flex(row);
    justify-content: space-between;
    ul {
      @include flex(row);
      li {
        padding: 20px 10px;
        font-weight: $font-light;
      }
    }
    p {
      padding: 20px 10px;
      font-weight: $font-light;
    }
  }
  &__icons {
    width: 10%;
    @include flex(row);
    justify-content: end;
    i {
      padding: 20px 10px;
    }
  }
}
// DESKTOP end

// MOBILE start]

.header-product-detail-mobile {
  display: none;
  @include respond-to(lg) {
    @include flex(row);
  }
  @include respond-to(md) {
    padding: 0% 2%;
  }
  align-items: center;
  padding: 0% 10%;
  width: 100%;
  box-shadow: $box-shadow;
  background-color: $col-white;
  position: fixed;
  z-index: 1;
  &__icons {
    @include flex(row);
    width: 20%;
    i {
      padding: 20px 10px;
    }
  }
  &__logo {
    @include flex(row);
    justify-content: center;
    width: 60%;
    img {
      @include widthHeight(80px, auto);
    }
  }
  &__hamburger {
    @include flex(row);
    justify-content: end;
    width: 20%;
    i {
      padding: 20px;
    }
  }
}

// MOBILE end

// DETAIL PAGE HEADER end
